Basic syntax rules in python
-> python is case sensitive
Indentation --> define the structure and hierarchy of the code, also determine the grouping of the statements.

In [2]:
age = 32;
if age > 30:
    print(30);

30

Variables
Declaration and assignment

In [4]:
#dynamic type casting

var = 10
print(var,type(var))

var = "hello"
print(var, type(var))

10 <class 'int'>
hello <class 'str'>

In [5]:
#input
age = input("enter age")
print(age)
print(type(age))

20
<class 'str'>

In [6]:
#simple calculator
num1 = float(input("Enter the first number"))
num2 = float(input("Enter the second number"))

sum = num1+num2
diff = num1-num2
prod = num1*num2
quot = num1/num2
print("Sum:", sum)
print("Difference:", diff)
print("Product:", prod)
print("Quotient:", quot)

Sum: 15.0
Difference: 5.0
Product: 50.0
Quotient: 2.0


Data Types
1. Integer
2. Float
3. String
4. Boolean

Advanced

1. List
2. Tupple
3. Sets
4. Dictionaries

In [ ]:
height = 11.4
print(height)

11.4