In [1]:
import numpy as np

In [2]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [3]:
from math import *

In [4]:
sqrt(4)

2.0

In [1]:
# Data serialisation

import json
data = {
    "name":"gyan",
    "age":25
}
json_str = json.dumps(data)
print(json_str)

{"name": "gyan", "age": 25}

In [2]:
#csv

import csv

with open('example.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['name', 'age'])
    writer.writerow(['krish', 32])
with open('example.csv', mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['krish', '32']

In [4]:
# datetime

from datetime import datetime, timedelta

now = datetime.now()
print(now)

yesterday = now - timedelta(days=1)
print(yesterday)

2025-09-05 23:46:23.453566
2025-09-04 23:46:23.453566

In [ ]:
# regular expression

import re
pattern = r'\d+' # d is diigts here
text = 'there are 23 apples'
match = re.search(pattern, text)
print(match.group())

23