# Dictionaries

unordered collection of data items. store data in key value pair form. key must be unique and mmutable. while value can be of any type.

In [2]:
#creating dictionary
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [3]:
empty_dict = dict()
print(empty_dict)

{}

In [4]:
student = {
    "name":"gyan",
    "age": 32,
    "grade":24
}
print(student)
print(type(student))

{'name': 'gyan', 'age': 32, 'grade': 24}
<class 'dict'>

In [13]:
student = {
    "name":"gyan",
    "age": 32,
    "grade":"A"
}

print(student["grade"])
print(student['age'])

#access the value by using the default dict method get()
print(student.get('name'))

A
32
gyan

In [14]:
# Modifying dict elements
# Dict are mutable so we can add, delete or update the elements.
student['age'] = 25
print(student)
student['address'] = 'varanasi'
print(student)

{'name': 'gyan', 'age': 25, 'grade': 'A'}
{'name': 'gyan', 'age': 25, 'grade': 'A', 'address': 'varanasi'}

In [7]:
del student['grade']
print(student)

{'name': 'gyan', 'age': 25, 'address': 'varanasi'}

# Dictionaries Methods

In [8]:
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['gyan', 25, 'varanasi'])
dict_items([('name', 'gyan'), ('age', 25), ('address', 'varanasi')])

# Shallow copy

In [9]:
student_copy = student
print(student_copy)

{'name': 'gyan', 'age': 25, 'address': 'varanasi'}

In [10]:
student['name'] = 'mohan'
print(student)
print(student_copy)

{'name': 'mohan', 'age': 25, 'address': 'varanasi'}
{'name': 'mohan', 'age': 25, 'address': 'varanasi'}

In [15]:
student_copy1 = student.copy() #shallow copy allocate new memory
print(student_copy1)
print(student)
student['name'] = 'Gyanendra Mohan'
print(student)
print(student_copy1)

{'name': 'gyan', 'age': 25, 'grade': 'A', 'address': 'varanasi'}
{'name': 'gyan', 'age': 25, 'grade': 'A', 'address': 'varanasi'}
{'name': 'Gyanendra Mohan', 'age': 25, 'grade': 'A', 'address': 'varanasi'}
{'name': 'gyan', 'age': 25, 'grade': 'A', 'address': 'varanasi'}

# Iterating over dictionaries
# use loops to iterate over dictionaries, key, value or items.

In [16]:
for key in student.keys():
    print(key)
for value in student.values():
    print(value)

name
age
grade
address
Gyanendra Mohan
25
A
varanasi

In [17]:
for key, value in student.items():
    print(f'key is {key} and value is {value}')

key is name and value is Gyanendra Mohan
key is age and value is 25
key is grade and value is A
key is address and value is varanasi

# Nested Dictionaries

In [2]:
students = {
    'student1' : {
        'name': 'Gyanendra Mohan',
        'age': 25,
        'grade': 'A'
    },
    'student2' :  {
        'name':'Abishek',
        'age': 24,
        'grade': 'B',
    },
    'student3' : {
        'name': 'Ankit',
        'age': 26,
        'grade': 'C',
    }
}

In [3]:
print(students)
print(students['student2']['name'])

{'student1': {'name': 'Gyanendra Mohan', 'age': 25, 'grade': 'A'}, 'student2': {'name': 'Abishek', 'age': 24, 'grade': 'B'}, 'student3': {'name': 'Ankit', 'age': 26, 'grade': 'C'}}
Abishek

In [6]:

for student_id, student_info in students.items():
    print(f'student id is {student_id}')
    for key, value in student_info.items():
        print(f' {key} : {value}')

student id is student1
 name : Gyanendra Mohan
 age : 25
 grade : A
student id is student2
 name : Abishek
 age : 24
 grade : B
student id is student3
 name : Ankit
 age : 26
 grade : C

# Dictionary comprehension

In [7]:
squares = {x:x**2 for x in range(1,5)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
# using cictionary count the frequency of elements in a list
numbers = [1,2,3,4,5,1,2,3,1,2,1,1,1]
frequency = {}
for num in numbers:
    if num in frequency:
        frequency[num] += 1
    else:
        frequency[num] = 1
print(frequency)

{1: 6, 2: 3, 3: 2, 4: 1, 5: 1}

In [9]:
# Merge two dictionaries
dict1 = {"a":1, "b":2}
dict2 = {"c":3, "d":4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}